@use "global" as *;

.about {
  margin-top: rem(81);
  @include mq(md) {
    margin-top: rem(140);
  }
}

.about__contents {
  margin-top: rem(52);
  position: relative;
  @include mq(md) {
    margin-top: rem(120);
  }
}

.about__img-block {
  position: relative;
}

.about__img-block img:first-child {
  width: 37%;
  aspect-ratio: 128 / 194;
  position: absolute;
  content: "";
  z-index: 2;
  top: rem(-26);
  left: 0;
  @include mq(md) {
    top: rem(-80);
    max-width: rem(400);
    aspect-ratio: 400 /606;
  }
}

.about__img-block img:nth-child(2) {
  width: 82%;
  aspect-ratio: 281 / 186;
  margin-left: auto;
  @include mq(md) {
    max-width: rem(880);
    aspect-ratio: 880 / 581;
  }
}

.about__text-block {
  margin-top: rem(40);
  @include mq(md) {
    // margin-top: rem(40);
    position: absolute;
    z-index: 3;
    top: rem(75);
    left: rem(200);
    display: flex;
    align-items: center;
  }
}

.about__message {
  flex-shrink: 0;
  @include mq(md) {
    margin-top: rem(-28);
  }
}

.about__message p {
  color: $green;
  font-family: $second-font-family;
  font-size: rem(40);
  line-height: 1;
  @include mq(md) {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
  }
}

.about__text__body {
  margin-top: rem(16);
  @include mq(md) {
    margin-left: rem(40);
    margin-right: rem(40);
    margin-top: rem(3);
  }
}

.about__text.text {
  @include mq(md) {
    color: $white;
  }
}

.about__button-block {
  text-align: center;
  margin-top: rem(50);
  margin-right: rem(20);
  @include mq(md) {
    margin-top: rem(43);
    margin-left: rem(15);
  }
}

.about__illustration {
  position: absolute;
  z-index: 2;
  bottom: rem(-90);
  right: calc(50% - min(44vw, rem(634)));
}

.about__illustration img {
  max-width: rem(191);
  aspect-ratio: 191 / 181;
}
