@use "global" as *;

.blog {
  position: relative;
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq(md) {
    background-image: url(../images/common/blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    z-index: -1;
  }
}

.blog::after {
  @include mq(md) {
    background-image: url(../images/common/blog-bg-fish.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    top: rem(25);
    left: calc(50% - min(48vw, rem(620)));
    width: rem(437);
    height: rem(201);
  }
}

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
}

.blog__sub-title {
  @include mq(md) {
    color: $white;
  }
}

.blog__cards {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__button {
  text-align: center;
  margin-top: rem(39);
  @include mq(md) {
    margin-top: rem(83);
  }
}
