@use "global" as *;

.blog {
  position: relative;
  padding-top: rem(84);
  @include mq(md) {
    padding-top: rem(100);
  }
}

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
}

.blog-title__main {
  @include mq(md) {
    color: $white;
  }
}

.blog-title__sub {
  @include mq(md) {
    color: $white;
  }
}

.blog__cards {
  margin-top: rem(28);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(43);
  @include mq(md) {
    margin-top: rem(80);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__card {
  background-color: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  padding: rem(16) rem(18) rem(23) rem(17);
}

.blog__img img {
  aspect-ratio: 301 / 201;
}

.blog__text-body {
  margin-top: rem(18);
}

.blog__date {
  color: $black;
  font-family: $second-font-family;
  font-size: rem(12);
  line-height: 1.5;
}

.blog__name {
  color: $black;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.5;
}

.blog__text.text {
  margin-top: rem(20);
  @include mq(md) {
    color: #000;
  }
}

.blog__button-block {
  text-align: center;
  margin-top: rem(43);
  @include mq(md) {
    margin-top: rem(84);
  }
}

.blog__bg {
  @include mq(md) {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.blog__illustration {
  @include mq(md) {
    max-width: rem(437);
    aspect-ratio: 437 / 201;
    position: absolute;
    top: rem(25);
    left: rem(99);
  }
}
