@use "global" as *;

.blog {
  position: relative;
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq(md) {
    background-image: url(../images/common/blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    z-index: -1;
  }
}

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
}

.blog__main-title {
  @include mq(md) {
    color: $white;
  }
}

.blog__sub-title {
  @include mq(md) {
    color: $white;
  }
}

.blog__button-block {
  text-align: center;
  margin-top: rem(41);
  @include mq(md) {
    margin-top: rem(83);
  }
}

.blog__bg {
  @include mq(md) {
    height: rem(500);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.blog__illustration {
  @include mq(md) {
    max-width: rem(437);
    aspect-ratio: 437 / 201;
    position: absolute;
    top: rem(25);
    left: calc(50% - min(43vw, rem(620)));
  }
}
