@use "global" as *;

.campaign {
  margin-top: rem(40);
  padding-bottom: rem(4);
  overflow: hidden;
  @include mq(md) {
    margin-top: rem(120);
  }
}

.campaign__inner.inner {
  position: relative;
}

.campaign__slider {
  margin-top: rem(27);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.campaign__swiper {
  overflow: unset;
  clip-path: inset(0% -50% -5% 0%);
}

.campaign__button {
  display: none;
  @include mq(md) {
    max-width: rem(1080);
    width: 100%;
    aspect-ratio: 1080 / 82;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: rem(24);
  }
}

.campaign__swiper-button-next,
.campaign__swiper-button-prev {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(80);
    height: rem(80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-shrink: 1;
    cursor: pointer;
  }
}

.campaign__swiper-button-prev {
  background-image: url(../images/common/prev-icon.png);
  top: 0;
  right: rem(185);
}

.campaign__swiper-button-next {
  background-image: url(../images/common/next-icon.png);
  top: 0;
  right: rem(25);
}

.campaign__button-block {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(76);
  }
}
