@use "global" as *;

.footer {
  padding-top: rem(48);
  padding-bottom: rem(56);
  background-color: $green;
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__logo-block {
  @include mq(md) {
    display: flex;
  }
}

.footer__logo {
  width: rem(120);
  @include mq(md) {
    width: rem(200);
  }
}

.footer__sns-block {
  margin-top: rem(16);
  display: flex;
  align-items: end;
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.footer__facebook img,
.footer__instagram img {
  width: rem(24);
  @include mq(md) {
    width: rem(32);
  }
}

.footer__instagram {
  margin-left: rem(15);
}

.footer__items {
  display: flex;
  @include mq(md) {
    margin-top: rem(-16);
    flex: 1;
  }
}

.footer__first-items {
  @include mq(md) {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}

.footer__second-items {
  margin-left: rem(18);
  @include mq(md) {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-left: 0;
  }
}

.footer__copyright {
  margin-top: rem(34);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}

.footer__copyright small {
  color: $white;
  font-family: $second-font-family;
  font-size: rem(12);
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(14);
    line-height: 1.28571;
  }
}
