@use "global" as *;

.mv {
  // height: 100vh;
}

.mv__inner {
  position: relative;
  height: inherit;
}

.mv__slider {
  height: inherit;
}

.swiper-wrapper {
  height: inherit;
}

.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.mv__title-block {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);

  @include mq(md) {
    top: 49%;
    left: 51%;
    transform: translate(-50%, -48%);
  }
}

.mv__main-title {
  font-family: Lato;
  font-size: rem(40);
  font-weight: 400;
  color: $white;
  letter-spacing: 0.54em;
  text-indent: rem(20);
  @include mq(md) {
    font-size: rem(80);
  }
}

.mv__sub-title {
  text-align: center;
  color: $white;
  font-family: $second-font-family;
  font-size: rem(20);
  @include mq(md) {
    text-indent: rem(-30);
  }
}
