@use "global" as *;

.price {
  background-color: $light-green;
  margin-top: rem(85);
  padding-top: rem(80);
  padding-bottom: rem(84);
  position: relative;
  @include mq(md) {
    margin-top: rem(145);
    padding-top: rem(98);
    padding-bottom: rem(100);
  }
}

.price__contents {
  margin-top: rem(27);
  @include mq(md) {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
  }
}

.price__img {
  @include mq(md) {
    margin-left: rem(53);
  }
}

.price__img img {
}

.price__text-block {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(-41);
  }
}

.price__license {
  margin-top: rem(40);
}
.price__experience {
  margin-top: rem(39);
}
.price__fun {
  margin-top: rem(39);
}
.price__special {
  margin-top: rem(39);
}

.price__name {
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
  padding-bottom: rem(4);
  border-bottom: rem(1) solid $green;
}

.price__body {
  display: flex;
  flex-wrap: wrap;
}

.price__body dt,
.price__body dd {
  margin-top: rem(8);
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(14);
  line-height: 1.714;
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price__body dt {
  width: 74%;
  @include mq(md) {
    width: 65%;
  }
}

.price__body dd {
  width: 24%;
  text-align: right;
  margin-left: rem(5);
  @include mq(md) {
    width: 26%;
  }
}

.price__button-block {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.price__illustration {
  width: rem(437);
  position: absolute;
  bottom: rem(56);
  left: calc(50% - min(43vw, rem(620)));
}
