@use "global" as *;

.price {
  background-color: $light-green;
  margin-top: rem(85);
  padding-top: rem(80);
  padding-bottom: rem(84);
  position: relative;
  @include mq(md) {
    margin-top: rem(145);
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.price::before {
  @include mq(md) {
    background-image: url(../images/common/price-illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    bottom: rem(56);
    left: calc(50% - min(48vw, rem(620)));
    width: rem(437);
    height: rem(201);
  }
}

.price__content {
  margin-top: rem(27);
  @include mq(md) {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.price__image {
  @include mq(md) {
    width: 45.555%;
  }
}

.price__image img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 492 / 746;
  }
}

.price__button {
  text-align: center;
  margin-top: rem(39);
  @include mq(md) {
    margin-top: rem(85);
  }
}
