@use "global" as *;

.top-page-blog {
  margin-top: rem(51);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.top-page-blog--single {
  margin-top: rem(47);
  @include mq(md) {
    margin-top: rem(144);
  }
}
