@use "global" as *;

.top-footer {
  margin-top: rem(97);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.top-footer--page-thanks {
  margin-top: rem(142);
  @include mq(md) {
    margin-top: rem(127);
  }
}

.top-footer--page-sitemap {
  margin-top: rem(107);
  @include mq(md) {
    margin-top: rem(157);
  }
}

.top-footer--page-privacy {
  margin-top: rem(104);
  @include mq(md) {
    margin-top: rem(157);
  }
}

.top-footer--page-terms {
  margin-top: rem(105);
  @include mq(md) {
    margin-top: rem(157);
  }
}
