@use "global" as *;

.about {
  position: relative;
}

.about::before {
  @include mq(md) {
    background-image: url(../images/common/about-illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    content: "";
    bottom: rem(-93);
    right: calc(50% - min(48vw, rem(634)));
    width: rem(194);
    height: rem(181);
  }
}

.about__content {
  margin-top: rem(52);
  position: relative;
  @include mq(md) {
    margin-top: rem(120);
  }
}

.about__content--under-page {
  margin-top: 52px;
  @include mq(md) {
    margin-top: 225px;
  }
}

.about__images {
  position: relative;
}

.about__first-image {
  width: 37%;
  aspect-ratio: 128 / 194;
  position: absolute;
  content: "";
  z-index: 2;
  top: rem(-26);
  left: 0;
  @include mq(md) {
    top: rem(-80);
    aspect-ratio: 400 /606;
  }
}

.about__first-image--under-page {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.about__second-image {
  width: 81%;
  aspect-ratio: 281 / 186;
  margin-left: auto;
  @include mq(md) {
    aspect-ratio: 880 / 581;
  }
}

.about__second-image--under-page {
  width: 100%;
  @include mq(md) {
    width: 81%;
  }
}

.about__title {
  position: absolute;
  top: 24px;
  left: 24px;
}

.about__title h2 {
  color: $white;
  font-family: $second-font-family;
  font-size: rem(40);
  line-height: 1;
}

.about__text-body {
  margin-top: rem(44);
  @include mq(md) {
    margin-top: 0;
    position: absolute;
    z-index: 3;
    top: rem(115);
    left: rem(200);
    width: 77.7%;
    display: flex;
    gap: rem(40);
  }
}

.about__message {
  flex-shrink: 0;
  @include mq(md) {
    margin-top: rem(10);
  }
}

.about__message p {
  color: $green;
  font-family: $second-font-family;
  font-size: rem(40);
  line-height: 1;
  @include mq(md) {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
  }
}

.about__text-block {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(7);
  }
}

.about__text-block--under-page {
  margin-top: -5px;
  @include mq(md) {
    margin-top: 34px;
  }
}

.about__text {
  font-family: "Noto Sans JP";
  color: $black;
  font-size: rem(16);
  line-height: 1.5;
  @include mq(md) {
    color: $white;
  }
}

.about__button {
  text-align: center;
  margin-top: rem(50);
  @include mq(md) {
    margin-top: rem(40);
  }
}
