@use "global" as *;

.about {
  position: relative;
}

.about::after {
  @include mq(md) {
    background-image: url(../images/common/about-illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    content: "";
    bottom: rem(-93);
    right: calc(50% - min(48vw, rem(634)));
    width: rem(194);
    height: rem(181);
  }
}

.about__content {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.about__content--under-page {
  margin-top: 52px;
  @include mq(md) {
    margin-top: 225px;
  }
}
