@use "global" as *;

.accordion {
}

.accordion__title {
  padding: 16px;
  background-color: $green;
  position: relative;
  @include mq(md) {
    padding: 28px 40px 20px 40px;
  }
}

.accordion__title::before,
.accordion__title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 16px;
  width: 28px;
  height: 2px;
  background-color: $white;
  @include mq(md) {
    right: 42px;
  }
}

.accordion__title::before {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.accordion__title.is-open::before {
  transform: rotate(0);
}

.accordion__title h3 {
  font-size: 16px;
  font-family: $base-font-family;
  color: $white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include mq(md) {
    font-size: 20px;
  }
}

.accordion__content {
  // display: none;
  padding: 20px 16px 24px 15px;
  border: 1px solid $green;
  @include mq(md) {
    margin-top: 18px;
    padding: 40px 40px 36px 40px;
  }
}

.accordion__content p {
  font-size: 16px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
