@use "global" as *;

.accordion {
}

.accordion__title {
  padding: rem(16);
  background-color: $green;
  position: relative;
  @include mq(md) {
    padding: rem(28) rem(40) rem(20) rem(40);
  }
}

.accordion__title::before,
.accordion__title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: rem(16);
  width: rem(28);
  height: rem(2);
  background-color: $white;
  @include mq(md) {
    right: rem(42);
  }
}

.accordion__title::before {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.accordion__title.is-open::before {
  transform: rotate(90deg);
}

.accordion__title h3 {
  font-size: rem(16);
  font-family: $base-font-family;
  color: $white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include mq(md) {
    font-size: rem(20);
  }
}

.accordion__content {
  padding: rem(20) rem(16) rem(17) rem(15);
  border: 1px solid $green;
  @include mq(md) {
    margin-top: rem(18);
    padding: rem(36) rem(40) rem(36) rem(40);
  }
}

.accordion__content p {
  font-size: rem(16);
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
