@use "global" as *;

.blog-main {
}

.blog-main__cards {
}

.blog-main__pagination {
  margin-top: rem(70);
}

.blog-main__pagination--single {
  margin-top: rem(43);
  @include mq(md) {
    margin-top: rem(87);
  }
}
