@use "global" as *;

.blog-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(38);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards--page-blog {
  row-gap: rem(37);
  @include mq(md) {
    grid-template-columns: repeat(2, rem(333));
    column-gap: rem(45);
    row-gap: rem(86);
  }
}
