@use "global" as *;

.blog-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(38);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards--page-blog {
  row-gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(84);
  }
}

.blog-cards--side {
  grid-template-columns: repeat(1, 1fr);
  gap: rem(25);
  @include mq(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blog-cards__item {
}

.blog-cards__item--page-blog {
  width: rem(333);
}
