@use "global" as *;

.breadcrumb {
}

.breadcrumb__inner.inner {
  padding-left: rem(19);
}

.breadcrumb__items {
  display: flex;
  column-gap: rem(8);
}

.breadcrumb__item {
}

.breadcrumb__link {
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: 400;
  color: $black;
  line-height: normal;
}

.breadcrumb__link--404 {
  color: $white;
}

.breadcrumb__separator {
}

.breadcrumb__separator--404 {
  color: $white;
}
