@use "global" as *;

.button {
  display: inline-block;
  position: relative;
  background: $green;
  width: rem(202);
  font-size: rem(14);
  font-family: $second-font-family;
  line-height: 1.57143;
  z-index: 0;
  padding: rem(16) 0;
  color: $white;
  text-align: center;
  transition: 0.3s ease;
}

.button--white {
  background: $white;
  color: $green;
}

.button::after {
  content: "";
  border: rem(1) solid $green;
  position: absolute;
  background: $white;
  color: $green;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button::before {
  content: "";
  position: absolute;
  height: rem(54);
  width: rem(202);
  background-color: transparent;
  border: rem(1) solid $green;
  right: rem(-4);
  bottom: rem(-4);
  z-index: -2;
}

.button--white::before {
  border: rem(1) solid $white;
}

.button span {
  display: inline-block;
  width: rem(40);
  height: rem(1);
  background-color: $white;
  z-index: 100;
  margin-left: rem(8);
  vertical-align: middle;
  position: relative;
  border-radius: rem(1);
  transition: 0.3s ease;
  z-index: 100;
}

.button span::after {
  position: absolute;
  content: "";
  right: rem(-1);
  bottom: rem(3.5);
  width: rem(10);
  height: rem(1);
  background-color: $white;
  transform: rotate(40deg);
  border-radius: rem(1);
  transition: 0.3s ease;
  z-index: 1;
}

.button--white span::after {
  background-color: $green;
}

@media (hover: hover) {
  .button:hover {
    color: $green;
  }

  .button:hover span {
    background-color: $green;
  }

  .button:hover span::after {
    background-color: $green;
  }

  .button:hover::after {
    transform: scale(1, 1);
  }
}
