@use "global" as *;

.campaign-card {
  height: auto;
  display: grid;
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
}

.campaign-card__link {
  display: grid;
  grid-template-rows: auto 1fr;
}

.campaign-card__image {
  width: 100%;
}

.campaign-card__image img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 334 / 223;
  }
}

.campaign-card__text-body {
  display: grid;
  grid-template-rows: auto 1fr;
  // padding: rem(16) rem(16) rem(27) rem(16);
  padding: rem(16) rem(16) rem(27) rem(16);
  @include mq(md) {
    // padding: rem(21) rem(16) rem(45) rem(14);
    padding: rem(21) rem(16) rem(45) rem(16);
  }
}

.campaign-card__label {
  width: fit-content;
  // padding: rem(5) rem(12) rem(3) rem(12);
  padding: rem(2) rem(10) rem(2) rem(12);
  border: rem(1) solid $green;
  color: $green;
  font-size: rem(12);
  line-height: 1.83333;
  @include mq(md) {
    padding: rem(7) rem(18) rem(6) rem(18);
  }
}

.campaign-card__title {
  margin-top: rem(5);
  font-family: $base-font-family;
  color: $black;
  font-weight: 500;
  line-height: 1.5;
}

.campaign-card__description {
  border-top: rem(1) solid $green;
  margin-top: rem(7);
  padding-top: rem(9);
  text-align: center;
  font-size: rem(14);
  color: $black;
  font-weight: 400;
  line-height: 1.71;
  @include mq(md) {
    padding-top: rem(17);
    font-size: rem(16);
    line-height: 1.5;
  }
}

.campaign-card__price {
  margin-top: rem(7);
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  @include mq(md) {
  }
}

.campaign-card__list-price {
  color: $black;
  font-family: Lato;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  position: relative;
  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__list-price::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: rem(3);
  background-color: #c94800;
}

.campaign-card__current-price {
  color: $green;
  font-family: Lato;
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1;
  @include mq(md) {
    font-size: rem(40);
  }
}
