@use "global" as *;

.campaign {
  padding-bottom: rem(4);
  overflow: hidden;
  position: relative;
}

.campaign__swiper {
  margin-top: rem(27);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.campaign__cards {
  padding-bottom: 0.5rem;
}

.campaign__swiper-button {
  display: none;
  @include mq(md) {
    max-width: rem(1080);
    width: 100%;
    aspect-ratio: 1080 / 82;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: rem(24);
  }
}

.campaign__swiper-button-next,
.campaign__swiper-button-prev {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(80);
    height: rem(80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-shrink: 1;
    cursor: pointer;
  }
}

.campaign__swiper-button-prev {
  @include mq(md) {
    background-image: url(../images/common/prev-icon.png);
    top: 0;
    right: calc(50% - min(46vw, rem(380)));
  }
}

.campaign__swiper-button-next {
  @include mq(md) {
    background-image: url(../images/common/next-icon.png);
    top: 0;
    right: calc(50% - min(46vw, rem(540)));
  }
}

.campaign__button {
  margin-top: rem(30);
  text-align: center;
  @include mq(md) {
    margin-top: rem(67);
  }
}
