@use "global" as *;

.category-tab-item {
  // レイアウトに関する指定のみ
  text-align: center;
}

.category-tab-item a {
  // レイアウトの指定
  width: 100%;
  height: inherit;
  border: 1px solid $green;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;

  // タイポグラフィの指定のみ
  font-size: rem(14);
  font-family: $base-font-family;
  color: $green;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
}

.category-tab-item--active a {
  color: $white;
  background-color: $green;
}

.category-tab-item:hover a {
  color: $white;
  background-color: $green;
  opacity: 1;
}
