@use "global" as *;

.contact-form {
}

.contact-form__error-message {
  text-align: left;
  font-size: 14px;
  font-family: $base-font-family;
  color: #c94800;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.contact-form__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include mq(md) {
    gap: 55px;
  }
}

.contact-form__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 24px;
  border-bottom: 1px solid $green;
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
  }

  [type="checkbox"] {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  [type="checkbox"]:checked {
    + .contact-form__checkbox-text::after {
      opacity: 1;
    }
  }

  select {
    border: 1px solid $green;
    padding: 11px 9px 15px 8px;
    max-width: 480px;
    width: 100%;
    font-size: 12px;
    font-family: $base-font-family;
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url(../images/common/select-arrow.png); /* 画像のURL */
    background-repeat: no-repeat; /* 繰り返さない */
    background-position: center right 9px; /* 縦は中央、横は右から9px内側 */
    background-size: 12px 12px; /* 画像サイズ（幅 高さ） */
  }

  textarea {
    padding: 8px 16px 13px;
    border: 1px solid $green;
    height: 200px;
    max-width: 480px;
    width: 100%;
  }
}

.contact-form__head {
  display: flex;
  align-items: start;
}

.contact-form__label {
  font-size: 16px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
}

.contact-form__requierd {
  display: inline-block;
  background-color: #c94800;
  margin-left: 8px;
  padding: 2px 16px 3px 16px;
  font-size: 12px;
  font-family: $base-font-family;
  color: $white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4em;
}

.contact-form__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form__input {
  padding: 8px 16px 6px;
  max-width: 480px;
  width: 100%;
  border: 1px solid $green;
}

.contact-form__input::placeholder {
  font-size: 16px;
  font-family: $base-font-family;
  color: $light-green;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-form__input.input-error {
  border: 1px solid #c94800;
  background: rgba(201, 72, 0, 0.2);
}

.contact-form__input.input-error::placeholder {
  color: $white;
}

.contact-form__checkboxes {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  gap: 3px;
}

.contact-form__checkbox {
}

.contact-form__checkbox-text {
  padding-left: 24px;
  font-size: 16px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.contact-form__checkbox-text::before,
.contact-form__checkbox-text::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.contact-form__checkbox-text::before {
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid $green;
}

.contact-form__checkbox-text::after {
  left: 3px;
  background-image: url(../images/common/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 9px;
  height: 5px;
  opacity: 0;
}
