@use "global" as *;

.contact-form {
  margin-inline: auto;
}

.contact-form__error-message {
  text-align: left;
  font-size: rem(14);
  font-family: $base-font-family;
  color: #c94800;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: rem(40);
  display: flex;
  justify-content: center;
}

.contact-form__items {
}

.contact-form__item {
}

.contact-form__privacy {
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.contact-form__button {
  margin-top: rem(24);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}
