@use "global" as *;

.contact-privacy {
  [type="checkbox"] {
    display: inline-block;
    width: rem(1);
    height: rem(1);
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  [type="checkbox"]:checked {
    + .contact-privacy__checkbox-text::after {
      opacity: 1;
    }
  }
}

.contact-privacy__checkbox {
  display: inline-block;
  padding-left: rem(31);
  padding-right: rem(31);
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}

.contact-privacy__checkbox-text {
  padding-left: rem(30);
  text-align: left;
  font-size: rem(14);
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  position: relative;
  display: flex;
  align-items: flex-start;
  @include mq(md) {
    justify-content: center;
  }
}

.contact-privacy__checkbox-text::before,
.contact-privacy__checkbox-text::after {
  position: absolute;
  content: "";
  top: 28%;
  transform: translateY(-50%);
  @include mq(md) {
    top: 50%;
  }
}

.contact-privacy__checkbox-text::before {
  left: 0;
  width: rem(22);
  height: rem(22);
  border: 1px solid $green;
}

.contact-privacy__checkbox-text::after {
  left: rem(3);
  background-image: url(../images/common/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(14);
  height: rem(7);
  opacity: 0;
}
