@use "global" as *;

.gallery {
  position: relative;
}

.gallery::before {
  @include mq(md) {
    background-image: url(../images/common/gallery-fish.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    width: rem(301);
    top: -78px;
    right: calc(50% - min(48vw, 640px));
    height: rem(138);
  }
}

.gallery__photos {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
