@use "global" as *;

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(13, 41, 54, 0.68);
  height: rem(80);
  @include mq(md) {
    height: rem(90);
  }
}

.header.is-active {
  background-color: $green;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.94rem;
  padding-right: 0.94rem;

  @include mq(md) {
    padding-left: rem(41);
    padding-right: rem(41);
  }
}

.header__logo {
  z-index: 9999;
  max-width: 6.375rem;
  // width: clamp(6.375rem, 5.693rem + 2.91vw, 8.313rem);
  @include mq(md) {
    max-width: 8.75rem;
  }
}
