@use "global" as *;

.menu-button {
  cursor: pointer;
  padding: rem(9) rem(10);
  background-color: $light-green;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: all 0.3s ease;
  @include mq(md) {
    padding: rem(12) rem(10);
  }
}

.menu-button:hover {
  background-color: $green;
}

.menu-button:hover span {
  color: $white;
}

.menu-button.is-active {
  background-color: $green;
}

.menu-button span {
  display: inline-block;
  font-size: rem(14);
  font-family: $base-font-family;
  color: $green;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
  @include mq(md) {
    font-size: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
  }
}

.menu-button.is-active span {
  color: $white;
}

.menu-button span::before {
  @include mq(md) {
    content: "";
    background-image: url("../images/common/whale-to-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: rem(64);
    height: rem(64);
    transition: all 0.3s ease;
  }
}

.menu-button:hover span::before {
  @include mq(md) {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%)
      hue-rotate(124deg) brightness(107%) contrast(100%);
  }
}

.menu-button.is-active span::before {
  @include mq(md) {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%)
      hue-rotate(124deg) brightness(107%) contrast(100%);
  }
}

.menu-button:nth-child(2) span::before {
  @include mq(md) {
    background-image: url("../images/common/whale-to-left.png");
  }
}

.menu-button:nth-child(3) span::before {
  @include mq(md) {
    background-image: url("../images/common/fish-deco.png");
  }
}
