@use "global" as *;

.nav-item {
  @include mq(md) {
    width: 25%;
  }
}

.nav-item:nth-of-type(1) {
  grid-area: a;
}

.nav-item:nth-of-type(2) {
  grid-area: c;
}

.nav-item--sitemap:nth-of-type(2) {
  padding-left: 0px;
  @include mq(md) {
    padding-left: rem(41);
  }
}

.nav-item:nth-of-type(3) {
  grid-area: b;
}

.nav-item--padding-left:nth-of-type(3) {
  padding-left: rem(14);
}

.nav-item--sitemap:nth-of-type(3) {
  padding-left: rem(14);
  @include mq(md) {
    padding-left: 0;
  }
}

.nav-item:nth-of-type(4) {
  grid-area: d;
}

.nav-item--pl:nth-of-type(4) {
  padding-left: rem(14);
}

.nav-item--sitemap:nth-of-type(4) {
  padding-left: rem(14);
  @include mq(md) {
    padding-left: 0;
  }
}

.nav-item__link {
  margin-top: rem(24);
  padding-left: rem(20);
  display: block;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: 400;
  color: $white;
  line-height: 1.12;
}

.nav-item__link--sitemap {
  color: $black;
}

.nav-item__link--bold {
  margin-top: rem(40);
  font-weight: $bold;
  position: relative;
}

.nav-item__link--sitemap-bold {
  margin-top: rem(40);
  font-weight: $bold;
  position: relative;
}

.nav-item__link--bold::before {
  position: absolute;
  z-index: 5;
  content: "";
  top: 0;
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-item__link--sitemap-bold::before {
  position: absolute;
  z-index: 5;
  content: "";
  top: 0;
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(5975%)
    hue-rotate(159deg) brightness(98%) contrast(92%);
}
