@use "global" as *;

.page-404 {
  padding-top: 84px;
  padding-bottom: 36px;
  background-color: $green;
  position: relative;
  @include mq(md) {
    padding-top: 95px;
    padding-bottom: 144px;
  }
}

.page-404::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/whale-404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 328px;
  height: 100%;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
}

.page-404__inner {
}

.page-404__text-block {
  text-align: center;
  margin-top: 50px;
  @include mq(md) {
    margin-top: 115px;
  }
}

.page-404__title {
  color: #fff;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  @include mq(md) {
    font-size: 160px;
  }
}

.page-404__text {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  @include mq(md) {
    margin-top: 27px;
  }
}

.page-404__button {
  margin-top: 40px;
  padding-bottom: 8px;
  @include mq(md) {
    margin-top: 80px;
  }
}
