@use "global" as *;

.page-faq {
  position: relative;
}

.page-faq::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: 301px;
    height: 138px;
    top: -72px;
    left: calc(50% - min(48vw, 610px));
  }
}

.page-faq__inner {
}

.page-faq__content {
  margin-top: 52px;
  @include mq(md) {
    margin-top: 150px;
  }
}

.page-faq__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 42px;
  @include mq(md) {
    grid-template-columns: repeat(1, 700px);
    gap: 43px;
  }
}

.page-faq__item {
}
