@use "global" as *;

.page-blog {
  position: relative;
}

.page-blog::before {
  content: "";
  position: absolute;
  top: rem(-24);
  left: calc(50% - min(46vw, 372px));
  width: rem(120);
  height: rem(55);
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(-67);
    left: calc(50% - min(48vw, 620px));
  }
}

.page-blog__inner.inner {
  max-width: rem(1140);
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-left: rem(35);
  }
}

.page-blog__contents {
}
