@use "global" as *;

.page-campaign {
  position: relative;
}

.page-campaign::before {
  content: "";
  position: absolute;
  top: rem(-25);
  left: calc(50% - min(46vw, 372px));
  width: rem(120);
  height: rem(55);
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    left: calc(50% - min(48vw, 620px));
  }
}

.page-campaign__tab {
}

.page-campaign__cards {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(34);
  }
}

.page-campaign__pagination {
  margin-top: rem(65);
  @include mq(md) {
    margin-top: rem(80);
  }
}
