@use "global" as *;

.page-price {
  position: relative;
}

.page-price::before {
  content: "";
  position: absolute;
  top: rem(-25);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    left: calc(50% - min(48vw, 620px));
  }
}

.page-price__inner.inner {
  max-width: rem(750);
}

.page-price__items {
  gap: rem(39);
  @include mq(md) {
    gap: rem(87);
  }
}

.page-price__items--page-price {
  gap: rem(34);

  @include mq(md) {
    width: 100%;
    margin-inline: auto;
    gap: rem(87);
  }
}
