@use "global" as *;

.page-privacy {
  position: relative;
}

.page-privacy::before {
  content: "";
  position: absolute;
  top: rem(-25);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(-72);
    left: calc(50% - min(48vw, 610px));
  }
}

.page-privacy__inner {
}

.page-privacy__content {
  max-width: rem(800);
  width: 100%;
  margin-inline: auto;
}

.page-privacy__title {
  font-size: 24px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include mq(md) {
    font-size: rem(32);
  }
}

.privacy-policy__items {
  margin-top: rem(43);
  display: flex;
  flex-direction: column;
  gap: rem(31);
  @include mq(md) {
    margin-top: rem(38);
  }
}

.privacy-policy__item {
}

.privacy-policy__item {
}

.privacy-policy__text {
  font-size: rem(16);
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.privacy-policy__ordered-list {
}

.privacy-policy__unordered-list {
}
