@use "global" as *;

.page-voice {
  position: relative;
}

.page-voice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: rem(120);
  height: rem(55);
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    left: rem(100);
  }
}

.page-voice__inner {
}

.page-voice__category-tabs {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-voice__cards {
  margin-top: rem(41);
}

.page-voice__pagination {
  margin-top: rem(76);
}

.page-voice__pagination--page-voice {
  margin-top: rem(83);
  @include mq(md) {
    margin-top: rem(74);
  }
}
