@use "global" as *;

.page-404 {
  padding-top: rem(84);
  padding-bottom: rem(36);
  background-color: $green;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding-top: rem(95);
    padding-bottom: rem(124);
  }
}

.page-404::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/whale-404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(328);
  height: 100%;
  top: rem(36);
  left: 50%;
  transform: translateX(-50%);
}

.page-404__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-404__text-block {
  text-align: center;
  margin-top: rem(50);
  margin-bottom: auto;
  @include mq(md) {
    margin-top: rem(115);
  }
}

.page-404__title {
  color: #fff;
  font-family: Lato;
  font-size: rem(80);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  @include mq(md) {
    font-size: rem(160);
  }
}

.page-404__text {
  color: #fff;
  font-family: Lato;
  font-size: rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  @include mq(md) {
    margin-top: rem(27);
  }
}

.page-404__button {
  margin-top: rem(40);
  padding-bottom: rem(8);
  @include mq(md) {
    margin-top: rem(80);
  }
}
