@use "global" as *;
.page-campaign-cards {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  row-gap: rem(36);
  column-gap: rem(40);
  align-items: start;
  justify-content: center;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
    column-gap: rem(40);
  }
}
.page-campaign-cards__card {
}
