@use "global" as *;

.page-thanks {
  position: relative;
}

.page-thanks::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: 301px;
    height: 138px;
    top: -67px;
    left: calc(50% - min(48vw, 620px));
  }
}

.page-thanks__inner {
}

.page-thanks__text {
  text-align: center;
}

.page-thanks__text p {
  text-align: center;
  font-size: rem(16);
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-thanks__text p:nth-child(2) {
  margin-top: rem(35);
  @include mq(md) {
    margin-top: rem(30);
  }
}
