@use "global" as *;

.page-faq {
  position: relative;
}

.page-faq::before {
  content: "";
  position: absolute;
  top: rem(-25);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(-72);
    left: calc(50% - min(48vw, 610px));
  }
}

.page-faq__inner {
}

.page-faq__content {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-faq__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(1, rem(700));
    gap: rem(43);
  }
}

.page-faq__item {
}
