@use "global" as *;

.pagenation-button {
}

.pagenation-button__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.pagenation-button__items {
  display: flex;
  column-gap: 12px;
}

.pagenation-button__item {
  width: 38px;
  height: 38px;
  border: 1px solid $green;
}

.pagenation-button__item a {
  width: 100%;
  height: inherit;
  font-family: Lato;
  font-size: 16px;
  color: $green;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagenation-button__item--current {
  background-color: $green;
}
.pagenation-button__item--current a {
  color: $white;
}

.pagenation-button__item--left-arrow,
.pagenation-button__item--right-arrow {
  position: relative;
}

.pagenation-button__item--left-arrow::before {
  content: "";
  position: absolute;
  top: 32%;
  left: 41%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-left: 1px solid $green;
  border-top: 1px solid $green;
  transform: rotate(-45deg);
}

.pagenation-button__item--right-arrow::before {
  content: "";
  position: absolute;
  top: 32%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-left: 1px solid $green;
  border-top: 1px solid $green;
  transform: rotate(135deg);
}
