@use "global" as *;

.page-sitemap {
  position: relative;
}

.page-sitemap::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    display: none;
  }
}

.page-sitemap__content {
}

.page-sitemap__nav {
}
