@use "global" as *;

.page-price {
  position: relative;
}

.page-price--page-price {
  position: relative;
}

.page-price::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: 301px;
    height: 138px;
    top: -150px;
    left: calc(50% - min(48vw, 670px));
  }
}

.page-price--page-price::before {
  top: -22px;
  left: 15px;
  @include mq(md) {
    top: -70px;
    left: calc(50% - min(48vw, 623px));
  }
}

.page-price__items {
  margin-top: 57px;
  gap: 39px;
  @include mq(md) {
    margin-top: 150px;
    width: 45.555%;
  }
}

.page-price__items--page-price {
  gap: 34px;
  margin-top: 49px;
  @include mq(md) {
    margin-top: 150px;
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
    gap: 82px;
  }
}
