@use "global" as *;

.page-blog {
  position: relative;
}

.page-blog::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: 301px;
    height: 138px;
    top: -72px;
    left: calc(50% - min(48vw, 610px));
  }
}

.page-blog__inner {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-inline: auto;
  @include mq(md) {
    padding-left: 35px;
  }
}

.page-blog__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  @include mq(md) {
    flex-direction: row;
    column-gap: 63px;
    row-gap: 0;
  }
}

.page-blog__main {
}

.page-blog__main--single {
  max-width: 700px;
}

.page-blog__side {
  max-width: 294px;
}
