@use "global" as *;

.page-privacy {
  position: relative;
}

.page-privacy::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: 301px;
    height: 138px;
    top: -72px;
    left: calc(50% - min(48vw, 610px));
  }
}

.page-privacy__inner {
}

.page-privacy__content {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
}

.page-privacy__title {
  font-size: 24px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include mq(md) {
    font-size: 32px;
  }
}

.privacy-policy__items {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  @include mq(md) {
    margin-top: 38px;
  }
}

.privacy-policy__item {
}

.privacy-policy__item {
}

.privacy-policy__text {
  font-size: 16px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.privacy-policy__ordered-list {
}

.privacy-policy__unordered-list {
}
