@use "global" as *;

.page-contact {
  position: relative;
}

.page-contact::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 15px;
  width: 120px;
  height: 55px;
  background-image: url("../images/common/voice-illustration1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    width: 301px;
    height: 138px;
    top: -72px;
    left: calc(50% - min(48vw, 610px));
  }
}

.page-contact__inner {
}

.page-contact__form {
  max-width: 700px;
  margin-inline: auto;
}

.page-contact__privacy {
  margin-top: 34px;
  @include mq(md) {
    margin-top: 80px;
  }
}

.page-contact__button {
  margin-top: 24px;
  text-align: center;
  @include mq(md) {
    margin-top: 40px;
  }
}
