@use "global" as *;

.panel {
  display: none;
}

.panel.is-active {
  display: block;
}

.panel__content {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  padding: rem(22) rem(24) rem(25);
  border: 1px solid $green;
  @include mq(md) {
    padding: rem(22) rem(24) rem(25);
    flex-direction: row;
    align-items: center;
    gap: rem(62);
  }
}

.panel__text-body {
  @include mq(md) {
    width: 46.5%;
  }
}

.panel__title {
  padding-bottom: rem(8);
  border-bottom: 1px solid $green;
  font-size: rem(24);
  font-family: $base-font-family;
  color: $black;
  font-weight: $bold;
  line-height: 1;
}

.panel__text {
  margin-top: rem(5);
  font-size: rem(16);
  font-family: $base-font-family;
  color: $black1;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.panel__image {
  @include mq(md) {
    width: 48%;
  }
}
