@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  height: inherit;
  display: flex;
  gap: rem(40);
}

.pc-nav__item {
  height: inherit;
  position: relative;
}

.pc-nav__item::after {
  position: absolute;
  bottom: rem(20);
  left: 0;
  content: "";
  width: 100%;
  height: rem(2);
  background: $white;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

.pc-nav__item:hover::after {
  transform: scale(1, 1);
}

.pc-nav__link {
  display: inline-block;
  height: inherit;
  font-family: $second-font-family;
  font-size: clamp(0.75rem, 0.618rem + 0.56vw, 1.125rem);
  color: $white;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pc-nav__link span {
  font-family: "Noto Sans JP";
  margin-top: rem(4);
  display: block;
  font-size: rem(10);
  color: $white;
  line-height: 1.5;
  text-align: center;
}
