@use "global" as *;

.price-items {
  display: flex;
  flex-direction: column;
  gap: rem(39);
  @include mq(md) {
    width: 45.555%;
  }
}

.price-items__title {
  padding-bottom: rem(4);
  border-bottom: rem(1) solid $green;
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
}

.price-items__grid {
  display: grid;
  grid-template-columns: 80% 20%;
}

.price-items__grid dt,
.price-items__grid dd {
  margin-top: rem(8);
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(14);
  line-height: 1.714;
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price-items__grid dt {
}

.price-items__grid dd {
  text-align: right;
}
