@use "global" as *;

.section-title {
  text-align: center;
}

.section-title__main {
  font-family: $second-font-family;
  color: $black;
  font-size: rem(32);
  line-height: 1.25;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__main::first-letter {
  color: $green;
}

.section-title__main--white::first-letter {
  @include mq(md) {
    color: $white;
  }
}

.section-title__sub {
  margin-top: rem(4);
  font-size: rem(12);
  color: $green;
  line-height: 1.5;
  @include mq(md) {
    margin-top: rem(8);
  }
}
