@use "global" as *;

.side-items {
  max-width: rem(294);
}

.side-items__article {
}

.side-items__voice {
  margin-top: rem(86);
}

.side-items__campaign {
  margin-top: rem(90);
}

.side-items__archive {
  margin-top: rem(84);
}
