@use "global" as *;

.side-archive-item {
}

.side-archive-item__toggle {
  padding-left: rem(32);
  font-size: rem(24);
  font-family: $base-font-family;
  font-style: normal;
  color: $green;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.side-archive-item__toggle::before {
  position: absolute;
  content: "";
  top: rem(11);
  left: 0;
  width: rem(21);
  height: rem(21);
  background-color: $green;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: center;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.side-archive-item__toggle.is-open::before {
  transform: rotate(0deg);
}

.side-archive-item__list {
  display: none;
  margin-left: rem(30);
}

.side-archive-item__list li {
  position: relative;
  padding-left: rem(26);
}

.side-archive-item__list li::before {
  position: absolute;
  content: "";
  top: rem(11);
  left: 0;
  width: rem(21);
  height: rem(21);
  background-color: $green;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: center;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.side-archive-item__list li:not(:first-child) {
  margin-top: rem(6);
}

.side-archive-item__list li a {
  font-size: rem(24);
  font-family: $base-font-family;
  font-style: normal;
  color: $green;
  font-weight: 400;
  line-height: normal;
}
