@use "global" as *;

.side-campaign {
}

.side-campaign__title {
  display: flex;
  align-items: center;
  column-gap: rem(8);
  padding-left: rem(24);
  position: relative;
}

.side-campaign__title h3 {
  font-family: $base-font-family;
  font-size: rem(24);
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side-campaign__title::before {
  content: "";
  background-image: url("../images/common/whale-to-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  top: 0;
  left: 0;
  width: rem(50);
  height: rem(50);
}

.side-campaign__title::after {
  position: absolute;
  content: "";
  width: rem(6);
  height: 100%;
  background-color: $green;
  top: 0;
  left: 0;
}

.side-campaign__cards {
  margin-top: rem(21);
}

.side-campaign__button {
  margin-top: rem(44);
  text-align: center;
  @include mq(md) {
    margin-top: rem(34);
  }
}
