@use "global" as *;

.side-items {
  max-width: 294px;
}

.side-items__article {
}

.side-items__voice {
  margin-top: 86px;
}

.side-items__campaign {
  margin-top: 90px;
}

.side-items__archive {
  margin-top: 74px;
}
