@use "global" as *;

.single-body {
}

.single-body__meta {
}

.single-body__meta time {
  font-size: rem(14);
  font-family: Gotu;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.single-body__title {
  padding-bottom: rem(10);
  border-bottom: 1px solid $green;
  @include mq(md) {
    padding-bottom: rem(8);
  }
}

.single-body__title h2 {
  font-size: rem(24);
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include mq(md) {
    font-size: rem(32);
  }
}

.single-body__contents {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  row-gap: rem(29);
  @include mq(md) {
    margin-top: rem(40);
    row-gap: rem(45);
  }
}

.single-body__content {
}

.single-body__image {
  aspect-ratio: 345 / 231;
  @include mq(md) {
    aspect-ratio: 700 / 468;
  }
}

.single-body__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-body__text {
  margin-top: rem(26);
  font-size: rem(16);
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  @include mq(md) {
    margin-top: rem(35);
  }
}

.single-body__list {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(4);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-body__item {
  position: relative;
  padding-left: rem(28);
}

.single-body__item::before {
  position: absolute;
  content: "";
  top: rem(4);
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/icon-blue.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
