@use "global" as *;

.single-body {
}

.single-body__meta {
}

.single-body__meta time {
  font-size: 14px;
  font-family: Gotu;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.single-body__title {
  padding-bottom: 10px;
  border-bottom: 1px solid $green;
  @include mq(md) {
    padding-bottom: 8px;
  }
}

.single-body__title h2 {
  font-size: 24px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include mq(md) {
    font-size: 32px;
  }
}

.single-body__contents {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  @include mq(md) {
    margin-top: 40px;
    row-gap: 45px;
  }
}

.single-body__content {
}

.single-body__image {
  aspect-ratio: 345 / 231;
  @include mq(md) {
    aspect-ratio: 700 / 468;
  }
}

.single-body__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-body__text {
  margin-top: 26px;
  font-size: 16px;
  font-family: $base-font-family;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  @include mq(md) {
    margin-top: 35px;
  }
}

.single-body__list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include mq(md) {
    margin-top: 40px;
  }
}

.single-body__item {
  position: relative;
  padding-left: 28px;
}

.single-body__item::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/icon-blue.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
