@use "global" as *;

.sub-mv {
}

.sub-mv__inner {
}

.sub-mv__content {
  position: relative;
}

.sub-mv__image {
}

.sub-mv__title-block {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);

  @include mq(md) {
    top: 58%;
    left: 50%;
    transform: translate(-50%, -48%);
  }
}

.sub-mv__main-title {
  font-family: Lato;
  font-size: rem(40);
  font-weight: 400;
  color: $white;
  @include mq(md) {
    font-size: rem(80);
  }
}
