@use "global" as *;

.voice-items {
  margin-top: rem(45);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include mq(md) {
    margin-top: rem(30);
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
  }
}
