@use "global" as *;

.voice-item {
  padding: rem(14) rem(17) rem(23) rem(15);
  display: grid;
  gap: rem(16);
  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  @include mq(md) {
    padding: rem(25) rem(24) rem(22) rem(20);
    gap: rem(40);
  }
}

.voice-item__header {
  display: flex;
  justify-content: space-between;
}

.voice-item__info {
  border-bottom: rem(1) solid $green;
  @include mq(md) {
    margin-top: rem(27);
    width: 58%;
  }
}

.voice-item__meta {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.voice-item__gender {
  color: $black;
  font-size: rem(12);
  line-height: 1.5;
  display: block;
  @include mq(md) {
    display: inline-block;
    margin-top: rem(15);
    margin-left: rem(3);
  }
}

.voice-item__course {
  color: $green;
  font-size: rem(12);
  line-height: 1.8333;
  padding: rem(3) rem(12) rem(2) rem(12);
  border: rem(1) solid $green;
  display: inline-block;
  @include mq(md) {
    padding: rem(4) rem(13) rem(4) rem(13);
  }
}

.voice-item__title {
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-weight: 500;
  margin-top: rem(3);
  max-width: rem(149);
  @include mq(md) {
    font-size: rem(24);
    max-width: rem(276);
    margin-top: rem(7);
  }
}

.voice-item__image {
  margin-top: rem(8);
  width: 48%;
  @include mq(md) {
    margin-top: rem(0);
    width: 38%;
  }
}

.voice-item__image img {
  aspect-ratio: 151 / 117;
  @include mq(md) {
    aspect-ratio: 180/ 140;
  }
}

.voice-item__text-body p {
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  line-height: 1.5;
}
