@use "global" as *;

.voice-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(42);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.voice-items--page-voice {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(42);
  @include mq(md) {
    column-gap: rem(42);
    row-gap: rem(75);
    grid-template-columns: repeat(2, 1fr);
  }
}
