@use "global" as *;

.voice-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 42px;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.voice-items--page-voice {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 42px;
  @include mq(md) {
    column-gap: 42px;
    row-gap: 75px;
    grid-template-columns: repeat(2, 1fr);
  }
}
